{% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
    {% compress css %}
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    {% endcompress %}
    {% compress css %}
    <link href="{{ STATIC_URL }}timeline/timeline.css" rel="stylesheet">
    {% endcompress %}
    {% compress css %}
    <link href="{{ STATIC_URL }}style.css" rel="stylesheet">
    {% endcompress %}
    {% compress css %}
    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet">
    {% endcompress %}
    <link rel="stylesheet" href=""> 

    {% block css %} {% endblock %}

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script src="{{ STATIC_URL }}jquery-1.8.1.min.js"></script>
    {% compress js %}
    <script src="{{ STATIC_URL }}timeline/timeline.js"></script>
    {% endcompress %}
    {% compress js %}
    <script src="{{ STATIC_URL }}js/modernizr.js"></script>
    {% endcompress %}
    {% compress js %}
    <script src="{{ STATIC_URL }}main.js"></script>
    {% endcompress %}
  </head>

  <body onresize="timeline.redraw();" onload="$(window).resize();">

    {% block navbar %}
    {% endblock %}

    <div class="cointainer-fluid">
        <div class="row-fluid">
            <div id="sidebar">
                {% block sidebar %} {% endblock %}
            </div>
            <div id="content">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>

    <!-- JS - placed at the end of the document so the pages load faster -->
    {% compress js %}
    <script src="{{ STATIC_URL }}js/bootstrap/bootstrap-modal.js"></script>
    {% endcompress %}
    {% block js %} {% endblock %}

  </body>
</html>
