<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div id="nav-container">

      <a class="brand" href="/"  onclick="showContent('mytimeline'); return false">Furlow Tracker</a>

      <div class="nav-collapse">
        <ul class="nav">
            <li>
                <a href="#" onclick="showContent('add-person'); return false">
                    <i class="icon-plus"></i>
                    Person
                </a>
            </li>
            <li>
                <a href="#" onclick="showContent('settings'); return false">
                    <i class="icon-wrench"></i>
                    Settings
                </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
