{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block ext_js %}{% endblock %}

{% block content %}
    <div class="content-element" id="settings"></div>
        <h2>Capabilities</h2>

        <div class='row-fluid'>
            <div class='span6'>
                <h3>Current</h3>
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                {% for cap in capabilities %}
                    <tr>
                        <td>{{ cap.name }}</td>
                        <td>
                            <a href="/settings/capability/edit/{{ cap.pk }}.html"
                               class="btn btn-warning">Edit</a>
                            <a href="/settings/capability/delete/{{ cap.pk }}.html"
                               class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            <div class='span3'>
                <h3>Add New</h3>
                {% crispy capability_form %}
            </div>
        </div>

        <h2>Offtime-Types</h2>

        <div class='row-fluid'>
            <div class='span6'>
                <h3>Current</h3>
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                {% for off in offtime_types %}
                    <tr>
                        <td>{{ off.name }}</td>
                        <td><div style='background-color:{{ off.color }}; width: 25px;'>&nbsp;</div></td>
                        <td>{{ off.type }}</td>
                        <td>
                            <a href="/settings/offtime_type/edit/{{off.pk}}.html"
                               class="btn btn-warning">Edit</a>
                            <a href="/settings/offtime_type/delete/{{off.pk}}.html"
                               class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            <div class='span3'>
                <h3>Add New</h3>
                {% crispy offtime_type_form %}
            </div>
        </div>
    </div>
{% endblock %}
