{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block ext_js %}{% endblock %}

{% block content %}
    <div class="content-element" id="settings"></div>
        <h2>Capabilities</h2>

        <div class='row-fluid'>
            <div class='span4'>
                <h3>Current</h3>
                blabla
            </div>
            <div class='span3'>
                <h3>Add New</h3>
                {% crispy capability_form %}
            </div>
        </div>

        <h2>Offtime-Types</h2>

        <div class='row-fluid'>
            <div class='span4'>
                <h3>Current</h3>
                blabla
            </div>
            <div class='span3'>
                <h3>Add New</h3>
                {% crispy offtime_type_form %}
            </div>
        </div>
    </div>
{% endblock %}
