<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div id="nav-container">

      <a class="brand" href="/">Furlough Tracker</a>

      <div class="nav-collapse">
        <ul class="nav">
            <li>
                <a href="/person.html">
                    <i class="icon-plus"></i>
                    Person
                </a>
            </li>
            <li>
                <a href="/settings.html">
                    <i class="icon-wrench"></i>
                    Settings
                </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
