<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div id="nav-container">

      <a class="brand" href="/">Furlough Tracker</a>

      <div class="nav-collapse">
        <ul class="nav">
            <li>
                <a href="/person.html">
                    <i class="icon-plus"></i>
                    Person
                </a>
            </li>
            <li>
                <a href="/settings.html">
                    <i class="icon-wrench"></i>
                    Settings
                </a>
            </li>
        </ul>
        <ul class="nav pull-right">
            {% if user.is_authenticated %}
            <li>
                <p class="navbar-text">
                    <i class="icon-user"></i>
                    {{ user.username }}
                </p>
            </li>
            {% endif %}
            <li>
                {% if user.is_authenticated %}
                    <a href="/accounts/logout">Logout</a>
                {% else %}
                    <a href="/accounts/login">Login</a>
                {% endif %}
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
