<h3>
    "{{ offtime.type }}"{% if not offtime.approved %}-Request{% endif %} of
    {{ offtime.person }}
</h3>

{% if not user.authenticated %}
<div class="alert alert-warning">
    Please <a href='/access/login'>login</a> first if you want to change anything!
</div>
{% endif %}

{% if offtime.comment %}
    <p style='font-style: italic'>{{ offtime.comment }}</p>
{% endif %}
<p>{{ offtime.from_to_str | capfirst }}</p>

{% if offtime.approved %}
    <button class="btn btn-success" onclick="replace_offtime({{ offtime.id }}, 'unaccept')">Unapprove</button>
{% else %}
    <button class="btn btn-success" onclick="replace_offtime({{ offtime.id }}, 'accept')">Approve</button>
{% endif %}


{% if offtime.deleted %}
    <button class="btn btn-danger" onclick="replace_offtime({{ offtime.id }}, 'undelete')">Undelete</button>
{% else %}
    <button class="btn btn-danger" onclick="replace_offtime({{ offtime.id }}, 'delete')">Delete</button>
{% endif %}

<button class="btn btn-warning" onclick="editOfftime({{ offtime.id }})">Edit</button>
