<h3>{{ person }}</h3>

{% if person.vacation_periods %} 
    Vacation days available: 
    <ul>
    {% for vacation_period in person.vacation_periods %}
        <li>
            Between {{ vacation_period.start | date }}
            and {{ vacation_period.end | date }},
            you can book <b>{{ vacation_period.benefit }} days</b>.
            Of those, you booked <b>{{ vacation_period.used }} days</b>
            ({{ vacation_period.unapproved }} not yet approved).
        </li>
    {% endfor %}
    </ul>
{% else %} 
    <p class="text-error">
        No furlough added yet for {{ person }}. Without a furlough, calculation
        of vacation days is not possible!
    </p>
{% endif %}

<h4>Waiting for Approval</h4>
<ul>
    {% for o in unapproved %}
        <li><b>{{ o.type }}</b>
            <a href='#' onclick='return replace_offtime({{ o.pk }})'>
                {{ o.from_to_str }}
            </a>
        </li>
    {% empty %}
        <li class="text-success">{{ person }} has no unapproved offtime requests.</li>
    {% endfor %}
</ul>

<h4>Capabilities</h4>
<ul>
    {% for c in person.capabilities %}
        <li>{{ c.name }} </li>
    {% empty %}
        <li class="text-success">
            {{ person }} has no capabilities, <a href="/person.html">add one!</a>
        </li>
    {% endfor %}
</ul>
